/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 21, 2015, 2:00:34 PM
    Author     : User
*/

.signup_form { max-width: 540px;  margin: auto;}
.errorSummary { color: #F78080; }
.errorMessage{ color:#F78080; }
input { width: 100%; border-radius: 0px !important; }
.signup_form .btn { width: 100%; }

.bg_color_hover:hover { background-color: #2575A0;  color: #FFFFFF; }
.bg_color_hover {
  background-color: #54b2e5;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  color: #FFFFFF;
}

.grid-view table.items th,
.grid-view table.items td { font-size: 0.9em; border: 1px rgb(219, 224, 228) solid; padding: 0.2em 0.8em;}
.grid-view table.items th { color: white; background: #54b2e5;  text-align: center; }
.grid-view table.items tr.even { background: #FFFFFF; }
.grid-view table.items tr.odd { background: #D9F0FC; }
.grid-view table.items tr.selected { background: #9DD9FA;}
.grid-view table.items tr:hover.selected { background: #9DD9FA;}
.grid-view table.items tbody tr:hover { background: #ECF5FA; }
.grid-view .right{ text-align: right; }
.grid-view table.items td.column-header{ background: #9DCAD4;}

.pager ul {}
.pager li > a { border-radius: 0; padding:  6px 8px !important }
.pager .selected a:hover { color: #0e509e}
.pager .next>a { float: none}

#profile .items, #all_users .items{ width:100%; }
#profile .items td, #all_users .items td{ padding: 7px; }

table.detail-view .null { color: pink; }
table.detail-view { background: white; border-collapse: collapse; width: 100%; margin: 0; }
table.detail-view th, table.detail-view td{ font-size: 0.9em; border: 1px white solid; padding:7px; vertical-align: top;}
table.detail-view th{ text-align: left; width: 160px;}
table.detail-view tr.odd { background:#D9F0FC;}
table.detail-view tr.even {background:#FFFFFF;}

.img-height{  max-height: 172px; }
.deal-status{  background-color: #FCE4BE;  border: 1px dashed #eea236;  padding:15px; text-align:center; }
